<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Team Pages</h1>
    <p class="lead text-muted">
      Internal team pages for UPS
    </p>
    <p>
      <input type="text" name="search" class="form-control" (input)="search$.next($event.target.value)" [(ngModel)]="searchTeam" placeholder="Search Teams">
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div *ngIf="loading" class="loader">

    </div>
    <div class="row" style="margin-top: 0px; margin-bottom: 15px;">
      <div class="pull-right text-right">
        <a class="size-selectors btn btn-sm btn-default" href="javascript:void(0)" (click)="setCol(6)" [attr.active]="size.col6" [ngClass]="{'active' : size.col6}">
           <i class="fa fa-th-large"></i>
        </a>
        <a class="size-selectors btn btn-sm btn-default" href="javascript:void(0)" (click)="setCol(4)" [attr.active]="size.col4" [ngClass]="{'active' : size.col4}">
          <i class="fa fa-th"></i>
        </a>
      </div>
    </div>
    <div *ngIf="!loading" class="row">
      <homecard [team]="teams" [col]="colSize"></homecard>
    </div>

  </div>
</div>
