<div class="navbar navbar-inverse unselectable" style="background-color:#FFF; border-top:3px solid #EF8354;	border-bottom-left-radius: 0px;border-bottom-right-radius:0px;">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0)" style="padding:0;">
        <i class="pull-right" style="color: #EF8354; margin-top: 5%;"><b>Pages</b></i>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav col-lg-2 col-md-2 col-sm-3 pull-right hidden-xs">
        <li id="alerts" class="active">
          <div class="item dropdown" style="height:50px;">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" style="height:50px; font-size:18px;">
              <span class="fa-stack fa-sm" style="margin-top:10px;color:white;">
                                    <i class="fa fa-bell-o fa-stack-2x"></i>
                                    <strong class="fa-stack-1x">
                                        <span class="badge" style="background-color:white; color:red; padding:1px 3px;">4</span>
              </strong>
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">
                Notifications
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0)">Driver Needs Attention!</a>
              </li>
            </ul>
          </div>
        </li>
        <div class="user pull-right">
          <div class="item dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <img src="https://api.adorable.io/avatars/285/abott@adorable.io.png" height="50px">
            </a>
            <ul class="dropdown-menu dropdown-menu-right" style="text-align: center;">
              <li class="dropdown-header text-center">
                USERNAME
              </li>
              <li class="divider"></li>
              <li class="link">
                <a href="javascript:void(0)">
                                        Profile
                                    </a>
              </li>
              <li class="divider"></li>
              <li class="link">
                <a href="javascript:void(0)">
                                        Logout
                                    </a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header text-center">
                v0.0.1-alph.0
              </li>
            </ul>
          </div>
        </div>
      </ul>
      <ul class="nav navbar-nav col-lg-5 col-md-5 col-sm-5 pull-right hidden-xs" style="background-color:#351c15; margin-right:1%;">
        <li id="Home" class="active"><a style="background-color:#351c15; cursor:pointer;"> Home </a></li>
      </ul>
      <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm">
        <li id="home" class="disabled" style="color:gray;"><a data-target=".navbar-collapse" data-toggle="collapse"> Home </a></li>
        <li id="alerts" class="hidden">
          <div class="item dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-target=".navbar-collapse" data-toggle="collapse">
              <i class="fa fa-bell-o" style="color:white; font-size:25px;">
                                    <span class="badge" style="background-color:white; color:red;">4</span>
                                </i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">
                Notifications
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0)" data-target=".navbar-collapse" data-toggle="collapse">Server Down!</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="link" style="color:white;">
          <a style="color:white;" href="javascript:void(0)" data-target=".navbar-collapse" data-toggle="collapse">
                            Profile
                        </a>
        </li>
        <li class="link" style="color:white;">
          <a style="color:white;" href="javascript:void(0)">
                            Logout
                        </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Team Pages</h1>
    <p class="lead text-muted">
      Internal team pages for UPS
    </p>
    <p>
      <input type="text" name="search" class="form-control" (ngModelChange)="searchChanged($event)" [(ngModel)]="searchTeam" placeholder="Search Teams">
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div *ngIf="searching" class="row">
      <div class="card" *ngFor="let team of teams">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" [src]="team.teamBackgroundImage" data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">{{team.teamName}}</p>
      </div>
    </div>

    <div *ngIf="!searching" class="row">
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511e2%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511e2%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511e6%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511e6%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511e8%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511e8%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>

      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511eb%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511eb%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511ed%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511ed%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511ef%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511ef%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>

      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511f2%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511f2%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511fa%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511fa%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
      <div class="card">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22356%22%20height%3D%22280%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20356%20280%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15764f511fc%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15764f511fc%22%3E%3Crect%20width%3D%22356%22%20height%3D%22280%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22131.2890625%22%20y%3D%22147.996875%22%3E356x280%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="height: 280px; width: 100%; display: block;">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
    </div>

  </div>
</div>-->

<!--<router-outlet></router-outlet>-->

<footer class="text-muted">
  <div class="container">
    <p class="pull-xs-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>