<div class="navbar navbar-inverse unselectable" style="background-color:#FFF; border-top:3px solid #EF8354;	border-bottom-left-radius: 0px;border-bottom-right-radius:0px;">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" href="javascript:void(0)" style="padding:0;">
        <i class="pull-right" style="color: #EF8354; margin-top: 5%;"><b><i class="fa fa-book" style="padding-right:4px;"></i>Pages</b></i>
      </a>
      <a routerLink="/profile" class="navbar-brand pull-xs-right" href="javascript:void(0)" style="padding:0;">
        <i class="" style="color: #EF8354; margin-top: 5%;"><b>Profile</b></i>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav col-lg-2 col-md-2 col-sm-3 pull-right hidden-xs">
        <li id="alerts" class="active">
          <div class="item dropdown" style="height:50px;">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" style="height:50px; font-size:18px;">
              <span class="fa-stack fa-sm" style="margin-top:10px;color:white;">
                                    <i class="fa fa-bell-o fa-stack-2x"></i>
                                    <strong class="fa-stack-1x">
                                        <span class="badge" style="background-color:white; color:red; padding:1px 3px;">4</span>
              </strong>
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">
                Notifications
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0)">Driver Needs Attention!</a>
              </li>
            </ul>
          </div>
        </li>
        <div class="user pull-right">
          <div class="item dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <img src="https://api.adorable.io/avatars/285/abott@adorable.io.png" height="50px">
            </a>
            <ul class="dropdown-menu dropdown-menu-right" style="text-align: center;">
              <li class="dropdown-header text-center">
                USERNAME
              </li>
              <li class="divider"></li>
              <li class="link">
                <a href="javascript:void(0)">
                                        Profile
                                    </a>
              </li>
              <li class="divider"></li>
              <li class="link">
                <a href="javascript:void(0)">
                                        Logout
                                    </a>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header text-center">
                v0.0.1-alph.0
              </li>
            </ul>
          </div>
        </div>
      </ul>
      <ul class="nav navbar-nav col-lg-5 col-md-5 col-sm-5 pull-right hidden-xs" style="background-color:#351c15; margin-right:1%;">
        <li id="Home" class="active"><a style="background-color:#351c15; cursor:pointer;"> Home </a></li>
      </ul>
      <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm">
        <li id="home" class="disabled" style="color:gray;"><a data-target=".navbar-collapse" data-toggle="collapse"> Home </a></li>
        <li id="alerts" class="hidden">
          <div class="item dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-target=".navbar-collapse" data-toggle="collapse">
              <i class="fa fa-bell-o" style="color:white; font-size:25px;">
                  <span class="badge" style="background-color:white; color:red;">4</span>
              </i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">
                Notifications
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0)" data-target=".navbar-collapse" data-toggle="collapse">Server Down!</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="link" style="color:white;">
          <a style="color:white;" href="javascript:void(0)" data-target=".navbar-collapse" data-toggle="collapse">
                            Profile
                        </a>
        </li>
        <li class="link" style="color:white;">
          <a style="color:white;" href="javascript:void(0)">
                            Logout
                        </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!--<footer class="text-muted">
  <div class="container">
    <p class="pull-xs-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>-->